{% extends './base.html' %}
{% block title %}Create{% endblock title %}
{% block body %}
<div>
    
</div>
<section class=" dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <h2 class="text-center font-bold my-6 text-4xl">Create a new Link</h2>
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-2 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Shorten a link
                </h1>
                <form class="space-y-4 md:space-y-6" method="post">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <div>
                        <label for= "original_link" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">URL</label>
                        <input type="text" name="original_link" id="original_link" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-purple-600 focus:border-purple-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="https://goo..." required="">
                    </div>
                    <div>
                        <label for="custom_string" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Custom String</label>
                        <input type="text" name="custom_string" id="custom_string" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-purple-600 focus:border-purple-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="testing" required="">
                    </div>
                    <div>
                        <label for="expiration_date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Expiry Date</label>
                        <input type="datetime-local" name="expiration_date" id="expiration_date" placeholder="" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-purple-600 focus:border-purple-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                    </div>
                    <button type="submit" class="w-full text-white bg-purple-600 hover:bg-purple-700 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">Create Link</button>
                </form>
            </div>
        </div>
    </div>
  </section>
{% endblock body %} 