{% extends './base.html' %}
{% load static %}
{% block title %}Link Details{% endblock title %}
{% block body %}
{% if user.is_authenticated %}
<div class="mt-24 flex items-center justify center flex-col">
    <p class="max-w-lg text-xl font-semibold leading-normal text-gray-900 dark:text-white">Original link - {{original_link}}</p>
    <p class="max-w-lg text-xl font-semibold leading-normal text-gray-900 dark:text-white">Shortened Link - {{shortened_link}}</p>
    <p class="max-w-lg text-xl font-semibold leading-normal text-gray-900 dark:text-white">Expiry Date - {{expiration_date}}</p>
    <p class="max-w-lg text-xl font-semibold leading-normal text-gray-900 dark:text-white">Click Count - {{click_count}}</p>
    <p class="max-w-lg text-xl font-semibold leading-normal text-gray-900 dark:text-white">Created At - {{created_at}}</p>
</div>
<div class="my-4 flex items-center justify center flex-col">
    <button type="button" class="focus:outline-none text-white mx-2 bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900"><a href="/dashboard">Go to Dashboard</a></button>

</div>
{% endif %}
{% endblock body%}